SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

*/15 * * * *    root    flock -n /tmp/ansible-pull.lock ansible-pull \
    -d /var/lib/ansible-pull \
    -U "https://github.com/${GITHUB_OWNER}/${GITHUB_REPO}.git" \
    -C main \
    -i ansible/inventory.yml \
    ansible/site.yml \
    >/proc/1/fd/1 2>/proc/1/fd/2

